---
layout: default
---
<main id="page">
    <div id="top-info" class="warning-text">
        <form method="get" action="/" class="search" id="page-search">
            <label>
                <input type="text" name="search" value="<%- search -%>" placeholder="标题关键字">
                <button>搜索</button>
            </label>
        </form>
        <div class="more">
            此页是虚拟页面
            <button id="btn-update-cache" type="button">缓存管理</button>
            <% if(typeof id !=='undefined'){ %>
                <button type="button" onclick="T.toDelete('<%- id %>',this);">删除视频</button>
                <button type="button" onclick="T.toExportId('<%- id %>',this);">导出视频</button>
            <% } %>
        </div>
    </div>
    <div id="page-result">
        <nav id="site-nav"><span>当前位置:</span><a href="/">首页</a><% for(let nav of topnav){ %> / <a href="#"><%- nav %></a><% } %></nav>
        <% if(typeof m3u8 != 'undefined'&&m3u8.length){ %>
            <div class="player-content">
                <img src="<%- imgsrc %>">
                <div class="list">
                    <h3>播放</h3>
                    <% var bindex=1;for(let url of m3u8) { %>
                        <button data-url="<%- url %>" onclick="T.toPlay(this);">第<%- bindex++ %>集</button>
                    <% } %>
                    <div class="player-video" hidden>
                        <video controls></video>
                    </div>
                    <h3>下载(IOS可能异常)</h3>
                    <% var dindex=1;for(let url of m3u8) { %>
                        <button data-url="<%- url %>"  data-name="<%- title %>" onclick="T.downloadTS(this).catch(e=>alert(e.message));">第<%- dindex++ %>集</button>
                    <% } %>
                </div>
            </div>
            <% if(typeof infotext != 'undefined'){ %>
                <div class="player-info">
                    <%- infotext %>
                </div>
            <% } %>
        <% }else{ %>
            <div class="result-error"><a href="/index.html"><%- error %></a></div>
        <% } %>
    </div>
</main>